/* fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&family=Stylish&display=swap");

/* css remedy */
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}

/* custom properties */

:root {
    --background-black: #000;
    --background-white: #fff;
    --white: #f2f2f0;
    --red: #ce6a6c;
    --pink: #edada3;
    --pinky: #f9c7be;
    --light-blue: #94c4c1;
    --blue: #42899b;
    --dark-blue: #28405c;
}

/* ------------------- */
/* ----- general ----- */
/* ------------------- */

html {
    background-color: lavender;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    text-align: center;
}

section {
    margin: 2em;
}

/* ------------------------- */
/* ----- Elaine's code ----- */
/* ------------------------- */

section:first-child {
    font-family: "DM Sans", sans-serif;
}

/* Button */

section:first-child button {
    font-weight: bold;
    font-size: 2em;

    background-color: plum;
    border: none;
    padding: 0.5em;

    border-radius: 0.7em;
    box-shadow: 0 0.2em darkmagenta;
}

section:first-child button:active {
    box-shadow: 0 0.1em darkmagenta;
    transform: translateY(0.3em);
    transition: 0.2s ease;
}

section:first-child button:hover {
    transform: translateY(0.2em);
    transition: 0.2s ease;
}

/* Personal information */

section:first-child div h2 {
    margin: 0;
    padding: 0.5em 0 0 0.3em;
    font-size: 2em;
    font-weight: bold;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-clip: text;
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    color: transparent;
}

section:first-child div p {
    padding: 0 0 0 0.7em;
    max-width: 24ch;
}

section:first-child div > img:nth-of-type(1) {
    position: relative;
    height: 18em;
    width: 18em;
    top: 0;
    border-radius: 1em;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section:first-child div ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

section:first-child div ul li {
    list-style-type: none;
}

section:first-child div img {
    width: 3em;
}

section:first-child div ul li img:nth-of-type(3) {
    position: relative;
    top: 0;
    left: 1em;
    
}


/* Popover */

section:first-child [popover] {
    background-color: plum;
    border: none;
    border-radius: 1em;
    inset: unset;
    top: 10em;
    left: 23%;
}



section:first-child [popover]::backdrop {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    opacity: 75%;
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}


/* ----------------------- */
/* ----- Sena's code ----- */
/* ----------------------- */

section:nth-child(2) {
    font-family: "Shantell Sans", cursive;
    font-weight: 700;
}

section:nth-child(2)>button {
    /* display */
    display: inline-block;

    overflow: hidden;

    /* position */
    position: relative;

    /* size */
    font-size: 2em;
    padding: 0.4em;
    margin: 0;

    /* color */
    background-color: var(--light-blue);
    color: var(--background-black);

    /* border */
    border-radius: 0.5em;
    border: inset var(--pink);

    /* border: none; */

    /* text */
    font-family: "Shantell Sans", cursive;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;

    /* animation */
    touch-action: manipulation;
    transition: 1s ease-in-out;
}

section:nth-child(2)>button:hover {
    border-radius: 3em;
    transition: 1s ease-in-out;
}

section:nth-child(2)>button:active {
    border-radius: 3em;
    transform: rotate(10deg);

    transition: 0.1s ease-in-out;
}

/* user text */
section:nth-child(2)>button span:first-child {
    /* position */
    position: relative;
    z-index: 1;
}

/* BUTTON STYLING */
/* inspiration source: https://codepen.io/fabiocberg/pen/wvqpXqg?editors=1100 */
/* sena text */
section:nth-child(2)>button span:last-child {
    /* display */
    color: var(--background-white);
    display: block;

    /* position */
    position: absolute;
    bottom: 0;
    top: 50%;
    left: 50%;
    z-index: 10;

    /* size */
    height: 0.75em;

    /* color */
    opacity: 0;

    /* animation */
    transform: translateY(225%) translateX(-100%);
}

/* sena text background */
section:nth-child(2)>button:after {
    /* display */
    content: "";

    /* position */
    position: absolute;
    bottom: -50%;
    left: 0;
    z-index: 5;

    /* size */
    width: 100%;
    height: 100%;

    /* color */
    background-color: var(--red);

    /* animation */
    transform-origin: bottom;
    transition: transform 600ms ease-in-out;
    transform: skewY(9.3deg) scaleY(0);
}

section:nth-child(2)>button:active:after {
    background-color: var(--blue);
}

section:nth-child(2)>button:hover:after {
    /* animation */
    transform-origin: bottom;
    transform: skewY(15deg) scaleY(2);
}

section:nth-child(2)>button:hover span:last-child {
    /* animation */
    opacity: 1;
    transform: translateX(-50%) translateY(-100%);
    transition: all 900ms ease-in-out;
}

/* POPOVER STYLING */
section:nth-child(2)>[popover]::backdrop {
    backdrop-filter: blur(0.2em);
}

section:nth-child(2)>div {
    /* position */
    position: relative;

    /* size */
    max-width: 20em;
    min-width: 10em;
    min-height: 20em;
    max-height: 30em;

    /* color */
    background-color: var(--dark-blue);
    color: var(--white);

    /* border */
    border: none;
    border-radius: 1em;
}

/* close button */
section:nth-child(2)>div button {
    /* display */
    display: block;

    /* position */
    position: absolute;
    right: 0.5em;
    top: 0.5em;

    /* size */
    width: 1.5em;
    height: 1.5em;

    /* color */
    background: var(--blue);
    color: var(--white);

    /* text */
    font-family: "Shantell Sans", cursive;
    font-weight: 700;

    /* border */
    border-radius: 0.5em;
    border: none;
}

section:nth-child(2)>div button:hover {
    background: var(--pink);
    color: var(--background-black);
}

section:nth-child(2)>div button:active {
    background: var(--red);
    color: var(--white);
}

/* profile */
section:nth-child(2) div ul {
    /* display */
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    /* size */
    padding: 1em;
}

li {
    list-style: none;
}

/* profile picture and username */
section:nth-child(2) div ul li:first-child {
    /* display */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* size */
    padding: 0.2em;
    list-style: none;
}

section:nth-child(2) div ul li:first-child img {
    width: 5em;
    height: 5em;
    vertical-align: middle;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

section:nth-child(2) div ul li p {
    margin: 0.5em;
    text-align: center;
    font-size: 1em;
}

/* socials */
section:nth-child(2) div ul li:nth-child(2) p {
    margin: 0;
    margin-top: 0.5em;
    font-size: 1.5em;
}

/* links of socials */
section:nth-child(2) div ul li:last-child {
    /* display */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6em;

    /* size */
    padding: 0.2em;
    list-style: none;
}

section:nth-child(2) div ul li:last-child img {
    width: 3em;
    transition: 2s ease-in-out;
}

section:nth-child(2) div ul li:last-child img:hover {
    transform: rotateY(360deg);
    transition: 1s ease-in-out;
}

/* ------------------------- */
/* ----- Justin's code ----- */
/* ------------------------- */
section:nth-of-type(3)>[popover] {
    inset: unset;
    left: 45%;
}

section:nth-of-type(3)>[popover]::backdrop {
    backdrop-filter: blur(3px);
}

/* section:nth-of-type(3) {
    background-color: red;
} */

section:nth-of-type(3) button {
    padding: 0.5em 2em;
    background-color: rgb(229, 255, 127);
    border-radius: 20px;
    border: 5px solid rgb(142, 158, 78);
    transition: 0.3s ease;
    box-shadow: 0px 5px 5px black;
}

section:nth-of-type(3) button p {
    font-size: larger;
    font-weight: bolder;
}

section:nth-of-type(3)>button:hover {
    padding: 1em 3em;
    background-color: rgb(182, 212, 63);
}

section:nth-of-type(3) div button {
    background-color: azure;
    border: solid 2px gray;
    width: 1em;
    margin: auto auto;
    display: flex;
    justify-content: center;
    transition: 0.2s;
    box-shadow: none;
}

section:nth-of-type(3) div button:hover {
    background-color: rgb(219, 7, 7);
    color: white;
    border: none;
    width: 1.2em;
}

section:nth-of-type(3) div ul button p {
    color: #000;
    margin: auto auto;
}

section:nth-of-type(3) div ul button:hover p {
    color: #ffffff;
    margin: auto auto;
}

section:nth-of-type(3) div {
    background-color: bisque;
    border-radius: 20px;
    border: solid 5px rgb(169, 150, 128);
}

section:nth-of-type(3) div p {
    color: white;
}

section:nth-of-type(3) div img {
    width: 5em;
}

section:nth-of-type(3) div ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

section:nth-of-type(3) div li {
    list-style-type: none;
    padding: 1em;
}

section:nth-of-type(3) div li:hover {
    background-color: rgb(176, 158, 135);
    border-radius: 20px;
}

section:nth-of-type(4) button {
    background-color: red;
    color: white;
    width: 6em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 5px 0px rgb(111, 0, 0);
    border: none;
}

section:nth-of-type(4) div {
    padding: 0em;
    border: none;
    background-color: transparent;
}

section:nth-of-type(4) div button {
    padding: 10em;
    border: none;
    background-color: blue;
}