/* fonts */



/* custom properties */

:root {
    --background-black: #000;
    --background-white: #FFF;
}



/* ------------------- */
/* ----- general ----- */
/* ------------------- */


html {
    background-color: antiquewhite;
}
 



/* ------------------------- */
/* ----- Elaine's code ----- */
/* ------------------------- */




/* ----------------------- */
/* ----- Sena's code ----- */
/* ----------------------- */




/* ------------------------- */
/* ----- Justin's code ----- */
/* ------------------------- */

