/* fonts */


/* css remedy */
*,
*::after,
*::before {
    box-sizing: border-box;
}

button,
summary {
    cursor: pointer;
}


/* custom properties */

:root {
    --background-black: #000;
    --background-white: #FFF;
}



/* ------------------- */
/* ----- general ----- */
/* ------------------- */


html {
    background-color: antiquewhite;
}

section {
    margin: 2em;
}




/* ------------------------- */
/* ----- Elaine's code ----- */
/* ------------------------- */




/* ----------------------- */
/* ----- Sena's code ----- */
/* ----------------------- */




/* ------------------------- */
/* ----- Justin's code ----- */
/* ------------------------- */
section:nth-of-type(3)>[popover] {
    inset: unset;
    left: 50vh;
}

section:nth-of-type(3)>[popover]::backdrop {
    background-color: red;
    opacity: 50%;
}


section:nth-of-type(3) {
    background-color: red;
}

section:nth-of-type(3) button {
    color: blue;
}

section:nth-of-type(3) div {
    background-color: green;
}

section:nth-of-type(3) div p {
    color: white;
}

section:nth-of-type(3) div img {
    width: 5em;
}